
.explicaciones{
    width: 60%;
    
}
.fuente {
    font-family: 'TiltNeon';
}
@font-face {
    font-family: 'TiltNeon';
    src: url('./TiltNeon-Regular-VariableFont_XROT\,YROT.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
  }